<div class=" tag container text-center">
Tags:
  <% @albums.each do |album| %>
    <small><%= raw album.tags.map(&:name).map { |t| link_to t , album_path(album),:class=> "p-1 btn m-1"}.join(' ') %></small>
  <% end %>
  
</div>