<div class=" form border mx-auto">
  <h1 class="text-center label">New Album</h1>
  <%= render "form" %>
  <div class="form-box mx-auto p-1">
    <%= link_to "Cancel",albums_path,:class=>"type-box btn" %>
  </div>
</div>