.form {
  .link_box {
    margin-top: 0rem;
    
    .btn{
      background-color: none;
      color:rgb(0, 0, 177);
      text-decoration: underline;
    }

    .form-box {
      text-align: center;
      font-size:0.86rem;
      font-weight: bold;

      .forgot {
        width: 100%;
        text-align: center;
        color: rgb(8, 56, 175);
      }
    }
  }
}