.form {
    // width:25%;
    .link_box {
      margin-top: 0rem;
      // border: 1px solid gld;
      .btn{
        background-color: none;
        color:rgb(0, 0, 177);
        text-decoration: underline;
      }
      .form-box {
        // border:1px solid red;
        text-align: center;
        font-size:0.86rem;
        font-weight: bold;
        // padding: 1.2rem 0;
        // border-bottom: 1px solid gray;
      .forgot {
        width: 100%;
        text-align: center;
        // border: 1px solid black;
        color: rgb(8, 56, 175);
        // text-decoration: none;

      }
    }
  }
}