@import "form";
@import "home";
@import "devise";

* {
  box-sizing: border-box;
  font-family: serif;
  letter-spacing: 1px;
}
.back{
  background-color: rgb(235, 235, 235);

  .body {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 3rem;
    margin: 0;
    padding-bottom: 10rem;
  }
}
.navbar {
  height: 5rem;
  box-shadow: 0 0 4px rgb(142, 131, 12);
  background-color: rgb(193, 193, 193);
  margin-bottom: 0;

  .logo {
    margin-inline-end: 8.8rem;
    max-width: 40%;
  }

  .collapse {
    float: right;
    text-align: center;

    .links {
      width: 100%;
      justify-content: space-evenly;
      text-align: center;

      .nav-item {

        .nav-link {
          color: rgba(38, 38, 38, 0.707);
          font-weight: 800;
          font-size: 1.1rem;

          &:hover {
            color: rgb(77, 77, 77);
            font-weight: 1000;
          }
        }

        .signOut {
          @extend .nav-link;
          border: none;
          background: none;
          outline: none;
        }
      }
    }

    @media screen and (max-width: 768px) {
      position: absolute;
      top: 90%;
      right:0%;
      background-color:rgba(203, 203, 203, 0.999);
      .nav-item{
        width:100%;
        &:hover{
          background-color: rgb(183, 183, 183);
        }
      }
    }
  }
}